 
{% extends 'layout/layout.twig' %}


{% block content %}
   

{% set i = ' offset-header' %}    
{% for page in pages %}
    
 
    <section id="{{ page.link }}" class="{{ page.sections_class }} section {{ i }}">
      
                {{ page.content|raw }}
               
    </section>
{% set i = '' %}
{% endfor %}
    
{% endblock content %}


{% block scripts_for_data %}

     var v_address = '{{ system.address|e('js') }}';
     var v_email   = '{{ system.email|e('js') }}';
      

{% endblock scripts_for_data %}